name: Extract Miruro Links

on:
  push:
    paths:
      - app.py
      - anime_id.json
  workflow_dispatch:

jobs:
  extract:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run extractor
        env:
          ANIME_ID: 153800
          KEYS: ${{ secrets.KEYS }}
        run: python app.py
